body{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
}


h1 {
  margin: 0px;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5;
}

h2{
	padding-bottom: 50px;
	font-size: 30px;

}

h3{
	font-size: 20px;
	opacity: 0.7;
}

.section{
	padding-top: 200px;
	padding-bottom: 200px;
}


#cover {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  padding-top: 100px;
  padding-bottom: 100px; 
}
