body{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

h1 {
  margin: 0px;
  font-size: 24px;
  line-height: 1.5;
}

h2{
	padding-bottom: 50px;
	font-size: 24px;

}

h3{
	font-size: 20px;
	opacity: 0.7;
}

i{
  color: #159957;
}

.section{
	padding-top: 50px;
	padding-bottom: 50px;
}

.btn{
  color: rgba(255, 255, 255, 0.99);
  background-color: #159957;
  padding: 10px;
  font-weight: bold;
}

.btn:hover{
  color: rgba(255, 255, 255, 0.7);
}
.btn:visited{color: rgba(255, 255, 255, 0.99);}
.btn:active{color: rgba(255, 255, 255, 0.99);}
.btn:focus{color: rgba(255, 255, 255, 0.99);}


.highlight{
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
}

.m-top-50{ margin-top: 50px;}
.m-bot-50{margin-bottom: 50px;}

#cover {
  color: #fff;
  text-align: center;
  background-color: #159957;
  padding-top: 10px;
  padding-bottom: 10px; 
}