body{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1 {
  margin: 0px;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5;
}

h2{
	padding-bottom: 50px;
	font-size: 30px;

}

h3{
	font-size: 20px;
	opacity: 0.7;
}

i{
  color: #159957;
}

.section{
	padding-top: 150px;
	padding-bottom: 150px;
}

.btn{
  color: rgba(255, 255, 255, 0.99);
  background-color: #159957;
  padding: 10px;
  font-weight: bold;
}

.btn:hover{
  color: rgba(255, 255, 255, 0.7);
}

.highlight{
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
}

.m-top-50{ margin-top: 50px;}
.m-top-150{ margin-top: 150px;}

#cover {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  padding-top: 100px;
  padding-bottom: 100px; 
}