body{
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
  color: #6f6f6f;
}

h1 {
  margin: 0px;
  font-size: 24px;
  line-height: 1.5;
  color: #6f6f6f;
}

h2{
	padding-bottom: 50px;
	font-size: 24px;

}

h3{
	font-size: 20px;
	opacity: 0.7;
}

i{
  color: #159957;
}

.section{
	padding-top: 50px;
	padding-bottom: 50px;
}

.btn{
  color: #6f6f6f;
  background-color: #d0d5d9;
  padding: 10px;
}

.btn:hover{
  color: rgba(255, 255, 255, 0.7);
}
.btn:visited{color: #6f6f6f;}
.btn:active{color: #6f6f6f;}
.btn:focus{color: #6f6f6f;}


.highlight{
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
}

.m-top-50{ margin-top: 50px;}
.m-bot-50{margin-bottom: 50px;}

#cover {
  color: #fff;
  background-color: #d0d5d9;
  padding-top: 10px;
  padding-bottom: 10px; 
  margin-top: -20px;
  box-shadow: inset 1px 3px 1px -2px #C9CED2;
  border-top: 1px solid #B4BABD;
}
